<div class="top_bar">
	<div class="container">
		<div class="row">
			<div class="col d-flex flex-row">
				<div class="top_bar_contact_item">
					<div class="top_bar_icon">
						<img src="images/phone.png" alt="">
					</div>
					+38 068 005 3570
				</div>
				<div class="top_bar_contact_item">
					<div class="top_bar_icon">
						<img src="images/mail.png" alt="">
					</div>
					<a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
				</div>
				<div class="top_bar_content ml-auto">

					<div class="top_bar_user">

						<div sec:authorize="hasAuthority('USER')">
							<div th:text="${#authentication.name}"></div>
							<div class="user_icon">
								<img src="images/user.svg" alt="">
							</div>
							<a href="logout">log out</a>
						</div>

						<div sec:authorize="!hasAuthority('USER')">
							<div class="user_icon">
								<img src="images/user.svg" alt="">
							</div>
							<div>
								<a href="register.html">Register</a>
							</div>
							<div>
								<a href="login.html">Sign in</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>